<nav>
    <h3>MJV News</h3>
    <ul>
    <li routerLink="/home" routerLinkActive="active-link">Home</li>
    <li [routerLink]="['', 'esportes']" routerLinkActive="active-link">Esportes</li>
    <li [routerLink]="['', 'cultura']" routerLinkActive="active-link">Cultura</li>
    <li [routerLink]="['', 'politica']" routerLinkActive="active-link">Politica</li>
    <li [routerLink]="['', 'economia']" routerLinkActive="active-link">Economia</li>
    <li  routerLink="/autores" routerLinkActive="active-link">Autores</li>
    </ul>
</nav>
